#Bloque_registro{
    background-color: rgb(74, 147, 255);
    margin-top: 4%;
    text-align: left;
    border-color: rgb(28, 117, 241);
    border-radius: 20px;
    border-style: solid;
}


.inputEmail{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vmax;
    color:  rgb(28, 117, 241);
}
#input_Email{
    border-radius: 15px;
    background-color: rgb(213, 228, 250);
}

.inputPassword{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vmax;
    color:  rgb(28, 117, 241);
}
#input_Password{
    border-radius: 15px;
    background-color: rgb(213, 228, 250);
}

.inputName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vmax;
    color:  rgb(28, 117, 241);
}
#input_Name{
    border-radius: 15px;
    background-color: rgb(213, 228, 250);
}

#Bloque_registro{
  background-color: white;
  color: whitesmoke;
  border-block-color: green;
  margin-top: 40px;
  border-radius: 15px;
}

.Link_sesion{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.sub_sesion{
    color: white;
    margin-left: 10px;
}

#btn_registrar{
    margin-top: 40px;
    color: white;
    background-color: rgb(4, 41, 92);
    border-radius: 15px;
}