
.App {
  text-align: center;
}
.Text_info{
  display: block;
  text-align: justify;
  font-size: small;
}
/*BLOQUE NAVBAR*/
.logo_domiapp{
  margin-top: 10px;
  padding: 5px; 
  display: block;
  flex-direction: column;
  justify-content: center;
}

/*BLOQUE INICIO SESIÓN*/
.row{
  margin-top: 30px;
}
#Bloque_inicio{
  border-radius: 10px;
  margin-top: 4%;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(28, 117, 241);
  align-items: center;
}
#Texto_inicio{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  color: rgb(28, 117, 241);
  display: flex;
  margin-top: 10px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: x-large;
}
.input_Password{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  color: black;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
}
#inputPassword{
  border-radius: 5px;
  background-color: rgb(213, 228, 250);
}
.input_Email{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  color: black;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
}
#inputEmail{
  border-radius: 5px;
  background-color: rgb(213, 228, 250);
}
.Text_contraseña{
  padding: 10px;
}
#btn_inicio{
  background-color:  rgb(28, 117, 241);
  border-radius: 5px;
  color: whitesmoke;
  margin-top: 20px;
}
#link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-transform: uppercase;
}
#link:hover{
  text-decoration: none;
}
.link-registro{
  display: block;
  margin-top: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  width: auto;
}
