
.App{
  background-image: url(../Images_proyectos/background-doctor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  text-align: center;
}
.Text_info{
  display: block;
  text-align: justify;
  font-size: small;
}

/*BLOQUE INICIO SESIÓN*/
#Bloque_inicio{
  border-radius: 10px;
  text-align: left;
  border-width: 1px;
}
#Texto_inicio{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  color: rgba(95, 97, 100, 0.719);
  display: flex;
  margin-top: 10px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: x-large;
}
.input_Password{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  color: black;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
}
#inputPassword{
  border-radius: 5px;
  background-color: rgba(213, 228, 250, 0.548);
}
.input_Email{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  color: black;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
}
#inputEmail{
  border-radius: 5px;
  background-color: rgba(213, 228, 250, 0.548);
}
.Text_contraseña{
  padding: 10px;
}
#btn_inicio{
  background-color: rgba(95, 97, 100, 0.719);
  border-radius: 5px;
  color: whitesmoke;
  margin-top: 20px;
  border: none;
}
#link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  text-transform: uppercase;
}
#link:hover{
  text-decoration: none;
}
.link-registro{
  display: block;
  margin-top: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  width: auto;
}