/*NAVBAR-INITIAL*/
.header_global{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: auto;
    text-transform: uppercase;
    text-decoration: none;
  }
  
.navbar{
    background-color: rgba(114, 111, 111, 0.918);
}
/*BUTTONS-ZONE*/
#btn-zone{
  display: flex;
  justify-content: center;
}
#navbarEfect{
  justify-content: center;
}
#btn-burger{
  border: transparent;
}
#btn-burger:focus{
  outline: none;
  border-style: solid, black;
}
/*BTN-SOL*/
.btn-sol{
  background-color: transparent;
  border: transparent;
  width: 6vmax;
  height: auto;
}
.btn-sol:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-sol:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-AJUS*/
.btn-aju{
  background-color: transparent;
  border: transparent;
  width: 6vmax;
  height: auto;
}
.btn-aju:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-aju:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-FAV*/
.btn-fav{
  background-color: transparent;
  border: transparent;
  width: 6vmax;
  height: auto;
}
.btn-fav:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-fav:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-HIS*/
.btn-his{
  background-color: transparent;
  border: transparent;
  width: 6vmax;
  height: auto;
}
.btn-his:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-his:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-NOT*/
.btn-not{
  background-color: transparent;
  border: transparent;
  width: 6vmax;
  height: auto;
}
.btn-not:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-not:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
.text-btn{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: -5px;
  text-align: center;
}
.Link-btn:hover{
  text-decoration: none;
}
/*BUTTONS-ZONE*/
#btn-zone{
  display: flex;
  justify-content: center;
}
#navbarEfect{
  justify-content: center;
}
#btn-burger{
  border: transparent;
}
#btn-burger:focus{
  outline: none;
  border-style: solid, black;
}
/*BTN-SOL*/
.btn-sol{
  background-color: transparent;
  display: block;
  border: transparent;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-transform: uppercase;
}
.btn-sol:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-sol:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-AJUS*/
.btn-aju{
  background-color: transparent;
  border: transparent;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-transform: uppercase;
}
.btn-aju:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-aju:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-FAV*/
.btn-fav{
  background-color: transparent;
  border: transparent;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-transform: uppercase;
}
.btn-fav:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-fav:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-HIS*/
.btn-his{
  background-color: transparent;
  border: transparent;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-transform: uppercase;
}
.btn-his:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-his:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
/*BTN-NOT*/
.btn-not{
  background-color: transparent;
  border: transparent;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-transform: uppercase;
}
.btn-not:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
}
.btn-not:focus{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  outline: none;
}
#text-light{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
.Link-btn:hover{
  text-decoration: none;
}
  /*EFFECTS-ZONE*/
  @media(max-width: 766px){
      .btn-sol{
        box-shadow: 3px 0px rgba(255, 255, 255, 0.2) inset;
        display: flex;
        justify-content: space-between;
      }
      .btn-aju{
        box-shadow: 3px 0px rgba(255, 255, 255, 0.2) inset;
        display: flex;
        justify-content: space-between;
      }
      .btn-fav{
        box-shadow: 3px 0px rgba(255, 255, 255, 0.2) inset;
        display: flex;
        justify-content: space-between;
      }
      .btn-his{
        box-shadow: 3px 0px rgba(255, 255, 255, 0.2) inset;
        display: flex;
        justify-content: space-between;
      }
      .btn-not{
        box-shadow: 3px 0px rgba(255, 255, 255, 0.2) inset;
        display: flex;
        justify-content: space-between;
      }
  }