.App{
  text-align: center;
}
/*BLOQUE REGISTRO*/
#Bloque_registro{
    text-align: left;
    border-radius: 10px;
    border-width: 1px;
}
#Texto_registro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: rgba(95, 97, 100, 0.719);
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
  }
.inputEmail{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  color: black;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
}
#input_Email{
    border-radius: 5px;
    background-color: rgba(213, 228, 250, 0.548);
}

.inputPassword{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  color: black;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
}
#input_Password{
    border-radius: 5px;
    background-color: rgba(213, 228, 250, 0.548);
}

.inputName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  color: black;
  font-size: small;
  font-weight: 400;
  text-transform: uppercase;
}
#input_Name{
    border-radius: 5px;
    background-color: rgba(213, 228, 250, 0.548);
}
.Link_sesion{
    color: black;
}
#btn_registrar{
    background-color: rgba(95, 97, 100, 0.719);
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 40px;
}
#link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}