
.App-r{
  background-image: url(../Images_proyectos/background-doctor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  text-align: center;
}
.Text_info{
  display: block;
  text-align: justify;
  font-size: small;
}

/*BLOQUE INICIO SESIÓN*/
#Bloque_registro{
  border-radius: 10px;
  text-align: left;
  border-width: 1px;
}
#Texto_registro{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  color: rgba(95, 97, 100, 0.719);
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  font-size: x-large;
}
#input_Password{
  border-radius: 5px;
  background-color: rgba(213, 228, 250, 0.548);
  width: 100%;
  height: 100%; 
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 0px;
}

#input_Email{
  border-radius: 5px;
  background-color: rgba(213, 228, 250, 0.548);
  border: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
  margin-bottom: 0px;
}
#input_Name{
  border-radius: 5px;
  background-color: rgba(213, 228, 250, 0.548);
  border: none;
  width: 100%; 
  height: 100%;
  border-bottom: 1px solid;
  margin-bottom: 0px;
}


.label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  font-size: small;
  text-transform: uppercase;
  transform: translateY(-2.5em);
  transform-origin: 0 0;
  transition: all .3s;
  margin-bottom: 0px;
}

.Link_sesion{
  color: black;
}
#btn_registrar{
  background-color: rgba(95, 97, 100, 0.719);
  border-radius: 5px;
  color: whitesmoke;
  margin-top: 40px;
}
#link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}