
.App-r{
  background-image: url(../Images_proyectos/bg-doctor-inicio-sesion-movil.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  text-align: center;
}@media(max-width: 990px){
  .App-r{
    background: rgba(75, 75, 75, 0.699);
    text-align: center;
  }
}

.Text_info{
  display: block;
  text-align: justify;
  font-size: small;
}

/*BLOQUE INICIO SESIÓN*/
#Bloque_registro{
  text-align: left;
  border-width: 1px;
  box-shadow: 2px 2px 5px #999;
  background-color: white;
}
#Texto_registro{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  color: rgba(95, 97, 100, 0.719);
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  font-size: x-large;
}
/*INPUT-ZONE*/
#input_Password{
  background-color: white;
  width: 100%;
  height: 100%; 
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  transition: all .3s;
}
#input_Email{
  background-color: white;
  border: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  transition: all .3s;
}
#input_Name{
  background-color: white;
  border: none;
  width: 100%; 
  height: 100%;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  transition: all .3s;
}
/*INPUT-ZONE-END*/
/*INPUT-EFECT-ZONE*/
.label{
  font-size: medium;
  opacity: 1;
  color: gray;
  transform: translateY(-1.5em);
  transform-origin: 0 0;
  transition: all .3s;
}
.form-control:focus + .label,
.form-control:not(:placeholder-shown) + .label
{
  transform: translateY(-2.6em) scale(.8);
  color: rgb(28, 117, 241);
}
.form-control::placeholder{
  color: transparent;
}
.form-control:valid:focus{
  border-color: green;
}
.form-control:invalid:focus{
  border-color: red;
}
/*INPUT-EFECT-ZONE-END*/
.Link_sesion{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
#btn_registrar{
  border-radius: 5px;
  color: whitesmoke;
}
#link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
