.App-s{
    text-align: center;
}
/*BLOQUE SOLICITUD*/
#Bloque_solicitud{
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 5px #999;
    display: inline-block;
}
#Texto_solicitud{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: gray;
    font-size: x-large;
    margin: 30px 0px 30px 0px;
}
/*BTN-FORM-BLOCK*/
#btn-farm{
    display: flex;
    justify-content: flex-start;
}

#btn-text-farm{
    border: 1px solid;
}

#text-box{
    text-align: left;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

#text-add-form{
    color: black;
    text-align: left;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn_solicitar{
    margin-top: 10px;
}

#btn-form{
    background-color: transparent;
    border: none;
}

#btn-form:focus{
    outline: none;
}

.sub-item{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

#btn-farm{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

#btn-add-form{
    border: none;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium; 
    border-radius: 15px;
}
#btn-add-form:hover{
    background:  rgba(159, 165, 240, 0.37);
}
#btn-add-form:focus{
    outline: none;
}

.sub-item-big{
    background-color: rgba(128, 128, 128, 0.329);   
}
