
.App {
  text-align: center;
}
.Text_info{
  display: block;
  text-align: justify;
  font-size: 15px;
}

.header_registro{
  margin-left: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 4vmin;
  text-decoration: none;
  text-align: left;
}
.logo_domiapp{
  margin-top: 10px;
  padding: 5px;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  padding: 0;
  margin-top: 0;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(28, 117, 241);
  height: 100px;
  width: auto;
}

#Texto_inicio{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
  color: white;
  display: flex;
  margin-top: 10px;
}
.inputPassword{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2vmax;
  color: white;
}

.inputEmail{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2vmax;
  color: white;
}
.Text_contraseña{
  padding: 10px;
}
#Bloque_inicio{
  background-color: rgb(28, 117, 241);
  margin-top: 4%;
  text-align: left;
}

.row{
  margin-top: 30px;
  display: block;
  justify-items: center;
  justify-content: center;
}

#btn_inicio{
  background-color: rgb(6, 70, 160);
  color: whitesmoke;
  border-color: white;
  margin-top: 40px;
}

#btn_registro{
  margin-top: 40px;
  color: rgb(4, 41, 92);
  border-color: whitesmoke;
  background-color: whitesmoke;
}

footer{
  background-color: rgb(4, 41, 92);
  color: whitesmoke;
  width: 100%;
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container-body{
  display: flex;
}

.col  {
  max-width: 400px;
  font-size: 11px;
  justify-content: center;
}

.col h1{
  font-size: 20px;
}

.col p{
  text-align: justify;
}

.info_block{
  display: block;
  width: 100%;
}

.col2{
  font-size: 10px;
  display: block;
  width: 50%; 
}

.icon{
  display: flex;
  margin-top: 12px;
  justify-content: center;
  width: 120%;
}

.col2 h1{
  font-size: 20px;
}

.section_images_footer{
  display: flex;
  justify-content: center;
  align-content: center;
}

.Footer_facebook{
  margin-left: 10px;
  display: inline-block;
  align-content: center;
  border-color: whitesmoke;
}

.Footer_git{
  margin-left: 10px;
  display: inline-block;
  align-content: center;
  border-color: whitesmoke;
}

.Footer_gmail{
  margin-left: 10px;
  display: inline-block;
  align-content: center;
  border-color: whitesmoke;
}

