#Bloque_registro{
    background-color: rgb(74, 147, 255);
    margin-top: 4%;
    text-align: left;
    border-color: rgb(28, 117, 241);
    border-radius: 20px;
    border-style: solid;
}

.inputEmail{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    color: black;
    font-weight: 500;
}
#input_Email{
    border-radius: 15px;
    background-color: rgb(213, 228, 250);
}

.inputPassword{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    color: black;
    font-weight: 500;
}
#input_Password{
    border-radius: 15px;
    background-color: rgb(213, 228, 250);
}

.inputName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    color: black;
    font-weight: 500;
}
#input_Name{
    border-radius: 15px;
    background-color: rgb(213, 228, 250);
}

#Bloque_registro{
  background-color: white;
  color: whitesmoke;
  border-block-color: green;
  margin-top: 40px;
  border-radius: 15px;
}

.Link_sesion{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#btn_registrar{
    background-color:  rgb(28, 117, 241);
    border-radius: 15px;
    color: whitesmoke;
    margin-top: 40px;
}