.App {
  text-align: center;
}

.App-logo {
  height: auto;
  display: flex;
  margin-top: 40;
  pointer-events: none;
}

.header_registro{
  color: white;
  text-transform: uppercase;
  font-size: 3vmin;
  text-align: left;
  text-decoration: none;
  
}

.App-header {
  display: flex;
  padding: 0.5vmin;
  margin-top: 0;
  justify-content: center;
  flex-direction: column;
  background-color: #178dfc;
  height: 7vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
