.desk{
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin-top: 20px;
}
.img-fluid text-center{
    flex-direction: column;
    justify-content: center;
    width: 100vmin;
    height: 100%;

}

.btn-inicio{
    height: 100px;
    width: 800px;
}