
.App-r-f{
  background-image: url(../Images_proyectos/background-halloween.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  text-align: center;
}
.Text_info{
  display: block;
  text-align: justify;
  font-size: small;
}

/*BLOQUE INICIO SESIÓN*/
#Bloque_registro-f{
  text-align: left;
  border-width: 1px;
  box-shadow: 2px 2px 5px #999;
  background: linear-gradient(rgb(255, 153, 0),rgb(255, 136, 0));
}
#Texto_registro-f{
  font-family: cursive;
  color: black;
  justify-content: center;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  font-size: x-large;
}
/*INPUT-ZONE*/
#input-p-r{
  background-color: transparent;
  width: 100%;
  height: 100%; 
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  transition: all .3s;
  font-family: cursive;
  color: black;
}
#input-e-r{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  transition: all .3s;
  font-family: cursive;
  color: black;
}
#input-n-r{
  background-color: transparent;
  border: none;
  width: 100%; 
  height: 100%;
  border-bottom: 1px solid;
  margin-bottom: 0px;
  transition: all .3s;
  font-family: cursive;
  color: black;
}
/*INPUT-ZONE-END*/

/*INPUT-EFECT-ZONE*/
.label-r-h{
  font-size: medium;
  opacity: 1;
  transform: translateY(-1.5em);
  transform-origin: 0 0;
  transition: all .3s;
  font-family: cursive;
  color: black;
}
#input-n-r{
  box-shadow: none;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0px;
}
.f-r-h:focus{
  box-shadow: none;
}
.f-r-h::placeholder{
  color: transparent;
}
.f-r-h:valid:focus{
  border-color: green;
}
.f-r-h:invalid:focus{
  border-color: red;
}
.f-r-h:focus + .label-r-h,
.f-r-h:not(:placeholder-shown) + .label-r-h
{
  transform: translateY(-2.6em) scale(.8);
  color: rgb(0, 0, 0);
}
#input-n-r:focus-within{
  transform: scale(1.03,1.03);
}
#input-e-r:focus-within{
  transform: scale(1.03,1.03);
}
#input-p-r:focus-within{
  transform: scale(1.03,1.03);
}
/*INPUT-EFECT-ZONE-END*/

.Link_sesion-f{
  font-family: cursive;
  color: black;
}
#btn_registrar-f{
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: whitesmoke;
  margin-top: 40px;
  font-family: cursive;
}
#link-f{
  font-family: cursive;
}